@import url(../main.css);
@import url(../reused_style/reused_style.css);


/* SHOP */
.shop .text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    margin-block-end: 50px;
}

.shop .btn-link:is(:hover, :focus) {
    color: var(--hoockers-green);
}

.shop-card .card-banner {
    position: relative;
    overflow: hidden;
}

.shop-card .badge {
    position: absolute;
    top: 20px;
    left: 20px;
}

.shop-card .card-actions {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: grid;
    gap: 10px;
    opacity: 0;
    transition: var(--transition-2);
}

.shop-card .action-btn {
    background-color: var(--white);
    font-size: 24px;
    padding: 12px;
    border-radius: 50%;
    transition: var(--transition-1);
}

.shop-card .action-btn:is(:hover, :focus) {
    background-color: var(--hoockers-green);
    color: var(--white);
}

.shop-card:is(:hover, :focus-within) .card-actions{
    opacity: 1;
    transform: translate(-20%, -50%);
}

.shop-card .card-content {
    padding-block: 20px;
    text-align: center;
}

.shop-card :is(.price, .card-rating, .rating-wrapper){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.shop-card .del {
    font-size: var(--fs-9);
    font-weight: var(--fw-400);
}

.shop-card .price .span {
    color: var(--black);
    font-weight: var(--fw-700);
}

.shop-card .card-title:is(:hover,:focus) {
    text-decoration: underline;
    color: var(--hoockers-green);
}

.shop-card .rating-wrapper {
    color: var(--hoockers-green);
    gap: 5px;
    font-size: 15px;
}

.shop-card .rating-text {
    font-size: var(--fs-8);
    font-weight: var(--fw-400);
    /* line-height: 1; */
}